node_modules
.next
.parcel-cache
dist
dist-farm
dist-parcel
dist-esbuild
dist-vite
dist-vite-swc
dist-webpack
dist-webpack-swc
dist-rspack
dist-rolldown
dist-rolldown-minify
esbuild-serve
next-env.d.ts
